html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    background: rgb(245, 245, 245);
}

html {
    box-sizing: border-box;
    overflow-x: hidden
}

*, *:before, *:after {
    box-sizing: inherit
}

html, body {
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    text-decoration: none;
}

/* Searchbar text center */

.searchbar::-webkit-input-placeholder {
    text-align: start;
    font-size: 15px;
}

.searchbar:-moz-placeholder {
    text-align: start;
}

.searchbar::-moz-placeholder {
    text-align: start;
}

.searchbar:-ms-input-placeholder {
    text-align: start;
}

.vego-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.vego-animate-left {
    position: relative;
    animation: animateleft 0.4s
}

.vego-animate-bottom {
    position: relative;
    animation: animatebottom 0.4s
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }
    to {
        left: 0;
        opacity: 1
    }
}

.scroll {
    margin: auto;
}

.horizontal-scroll {
    display: block;
    width: 100%;
    overflow-x: scroll;
    box-sizing: border-box;
}

/* Extra small devices (phones, 0px to 550px) */

@media only screen and (max-width: 550px) {
    .navbar-brand img {
        height: 2.2rem;
        width: auto;
        margin: 0px 0px 0px 0px;
    }
    .togglerimg {
        height: 1.7rem;
        border: none;
    }
    .searchicon {
        position: absolute;
        height: 1.2rem;
        margin: -32px 0px 0px 20px;
    }
    .searchbar {
        padding: 0px 0px 0px 40px;
        height: 2.8rem;
        width: 96%;
        margin-left: 2%;
    }
    .locationimg img {
        height: 1.2rem;
        margin: 0px 5px 0px 8px;
    }
    .locationcard {
        display: flex;
        padding-left: 0.3rem;
        padding-bottom: 13px;
        padding-top: 0.8rem;
        box-shadow: 0 2px 10px rgba(0, 0, 0, .105882);
        border-top: none;
        background-color: white;
    }
    .locationtxt {
        display: flex;
    }
    .locationtxt p {
        font-size: 14px;
        margin-bottom: 0px;
        margin-top: 3px;
    }
    .locationtxt img {
        height: 0.5rem;
        margin-left: 5px;
        margin-top: 2.5px;
    }
    .navbar {
        padding-top: 8px;
    }
    header {
        /* background:#e3324a linear-gradient(90deg,#fd3752,#fd3752); */
        /* background:#e3324a linear-gradient(90deg,#ee1f3a,#cc041f); */
        background: #e3324a linear-gradient(180deg, #f0233e, #f3324c);
    }
    .services {
        display: flex;
        flex-direction: column;
        background-color: white;
        margin-top: 4px;
        width: 96%;
        margin-left: 2%;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, .105882);
    }
    .service {
        width: 50%;
        text-align: center;
        padding: 1.5rem;
        padding-bottom: 0;
    }
    .firstrow {
        display: flex;
    }
    .secondrow {
        display: flex;
    }
    .serviceicon {
        text-align: center;
    }
    .serviceicon img {
        height: 3.6rem;
        margin-bottom: 1.2rem;
    }
    .servicename p {
        margin-bottom: 5px;
        font-size: 14px;
    }
    #service1 {
        border-right: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }
    #service2 {
        border-bottom: 1px solid lightgray;
    }
    #service3 {
        border-right: 1px solid lightgray;
    }
    .service:hover .servicename p {
        font-weight: 550;
        color: #f0233e;
    }
    /* sidebar */
    .vego-sidebar {
        height: 35%;
        width: 200px;
        background-color: #fff;
        position: fixed!important;
        z-index: 1;
        overflow: auto;
        bottom: 0;
    }
    .vego-bar-block {
        width: 100%;
        text-align: left;
        padding: 8px 16px;
        width: 100%;
        display: block;
        padding: 8px 16px;
        text-align: left;
        border: none;
        white-space: normal;
        float: none;
        outline: 0;
        min-width: 85%;
    }
    #mySidebar {
        position: fixed;
        left: 0;
        height: 100%;
        z-index: 1000;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        padding-right: 0;
        padding-left: 0;
        width: 100%;
        padding: 0;
    }
    .indexcarousel {
        display: none;
    }
    /* offers vego */
    .offer-sc {
        padding-top: 0.5rem;
        padding-bottom: 0.3rem;
        padding-right: 0.3rem;
    }
    .scroll-container {
        display: block;
        white-space: nowrap;
        width: 90%;
        margin-left: 5px;
    }
    .offers img {
        height: 6.3rem;
        width: 100%;
        border-radius: 5px;
    }
    .userprofile {
        height: 10rem;
        background: #209586;
    }
    .usericon img {
        height: 3.6rem;
        margin-top: 1.2rem;
        margin-left: 1rem;
    }
    .username p {
        color: rgb(255, 255, 255);
        margin-top: 1.7rem;
        margin-left: 1rem;
        margin-bottom: 0;
        font-size: 15px;
    }
    .username {
        display: flex;
    }
    .username img {
        height: 0.8rem;
        margin-top: 1.9rem;
        margin-left: 7px;
    }
    .usernumber p {
        color: rgb(218, 218, 218);
        font-size: 14px;
        margin-left: 1rem;
    }
    .sidebarlink {
        display: flex;
        width: 100%;
        padding: 0.7rem;
        border-bottom: 1px solid lightgray;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .sblinkicon img {
        height: 1.3rem;
    }
    .sblinknav img {
        height: 0.5rem;
    }
    .sblinkicon {
        width: 10%;
    }
    .sblinktxt {
        width: 80%;
        padding-left: 0.5rem;
    }
    .sblinktxt p {
        font-size: 15px;
        margin-top: 3px;
        margin-bottom: 0;
        color: black;
    }
    .sblinktxt p:hover {
        font-weight: 550;
        color: #f0233e;
    }
    .cutsidebar img {
        height: 1.2rem;
        float: right;
        margin: 20px;
    }
    /* Detect Location */
    .detect img {
        height: 1.5rem;
    }
    .loctxt p {
        font-size: 15px;
        margin-bottom: 5px;
    }
    #headloc {
        font-size: 17px;
        font-weight: 500;
        padding-top: 1rem;
    }
    #loc2 {
        color: grey;
        margin-bottom: 15px;
    }
    .dtbtn {
        background-color: #209586;
        color: white;
        font-size: 15px;
        padding: 7px;
    }
    .addlocationdesk {
        display: none;
    }
    /* top showrooms */
    .topshowrooms {
        height: 200px;
        background-color: white;
        margin-top: 8px;
    }
    .heading {
        padding: 8px 10px 10px 10px;
    }
    .heading h5 {
        font-size: 16px;
        font-weight: 600;
    }
    .headingunderline {
        width: 10%;
        text-align: left;
        margin: 0;
        background-color: red;
        height: 1px;
    }
    .showrommscroll{
        margin-left:10px;
       
    }
    .showroomcard {
        display: inline-block;
        height: 180px;
        width: 240px;
        border: 1px solid black;
        border-radius: 3px;
        margin-left:5px;
    }
    .showroomcard img {
        height: 6.3rem;
        width: 100%;
    }
    .showroomname {
        text-align: start;
        white-space: pre-line;
        font-size: 0.6rem;
        word-break: break-all;
       
    }
}

/* Medium devices (landscape tablets, 550px to 850) */

@media only screen and (min-width: 550px) and (max-width: 989px) {
    .addlocationdesk {
        display: none;
    }
    .navbar-brand img {
        height: 3rem;
        width: auto;
    }
    .togglerimg {
        height: 2.2rem;
        border: none;
    }
    .searchicon {
        position: absolute;
        height: 1.2rem;
        margin: -30px 0px 0px 15px;
    }
    .searchbar {
        padding: 0px 0px 0px 40px;
        height: 2.8rem;
        border: 1px solid lightgray;
    }
    .locationimg img {
        height: 1.2rem;
        margin: 0px 5px 0px 8px;
    }
    .locationcard {
        display: flex;
        padding-left: 1rem;
        padding-bottom: 15px;
        padding-top: 0.8rem;
        box-shadow: 0 2px 10px rgba(0, 0, 0, .105882);
        border-top: none;
        background-color: white;
    }
    .locationtxt {
        display: flex;
    }
    .locationtxt p {
        font-size: 15.4px;
        margin-bottom: 0px;
        margin-top: 2px;
    }
    .locationtxt img {
        height: 0.5rem;
        margin-left: 5px;
        margin-top: 2.5px;
    }
    .navbar {
        padding-top: 8px;
    }
    header {
        /* background:#e3324a linear-gradient(90deg,#fd3752,#fd3752); */
        /* background:#e3324a linear-gradient(90deg,#ee1f3a,#cc041f); */
        background: #e3324a linear-gradient(180deg, #f0233e, #f3324c);
    }
    /* Vego Services 4 */
    .services {
        display: flex;
        flex-direction: column;
        background-color: white;
        margin-top: 10px;
        width: 98%;
        margin-left: 1%;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, .105882);
    }
    .service {
        width: 50%;
        text-align: center;
        padding: 1.5rem;
        padding-bottom: 0;
    }
    .firstrow {
        display: flex;
    }
    .secondrow {
        display: flex;
    }
    .serviceicon {
        text-align: center;
    }
    .serviceicon img {
        height: 3.6rem;
        margin-bottom: 1.2rem;
    }
    .servicename p {
        margin-bottom: 5px;
        font-size: 15px;
    }
    #service1 {
        border-right: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }
    #service2 {
        border-bottom: 1px solid lightgray;
    }
    #service3 {
        border-right: 1px solid lightgray;
    }
    .service:hover .servicename p {
        font-weight: 550;
        color: #f0233e;
    }
    /* sidebar */
    .vego-sidebar {
        height: 32%;
        width: 200px;
        background-color: #fff;
        position: fixed!important;
        z-index: 1;
        overflow: auto;
        bottom: 0;
    }
    .vego-bar-block {
        width: 100%;
        text-align: left;
        padding: 8px 16px;
        display: block;
        padding: 8px 16px;
        text-align: left;
        border: none;
        white-space: normal;
        float: none;
        outline: 0;
        min-width: 80%;
    }
    .indexcarousel {
        display: none;
    }
    /* offers vego */
    .offer-sc {
        padding-top: 0.7rem;
        padding-bottom: 0.1rem;
        padding-right: 0.9rem;
    }
    .scroll-container {
        display: block;
        white-space: nowrap;
        width: 90%;
        margin-left: 15px;
    }
    .offers img {
        height: 12rem;
        width: 100%;
        border-radius: 5px;
    }
    #mySidebar {
        position: fixed;
        left: 0;
        height: 100%;
        z-index: 1000;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        padding-right: 0;
        padding-left: 0;
        width: 100%;
        padding: 0;
    }
    .indexcarousel {
        display: none;
    }
    /* sidebar vego tablet */
    .userprofile {
        height: 10rem;
        background: #209586;
    }
    .usericon img {
        height: 3.5rem;
        margin-top: 1rem;
        margin-left: 1rem;
    }
    .username p {
        color: rgb(255, 255, 255);
        margin-top: 1.7rem;
        margin-left: 1rem;
        margin-bottom: 0;
        font-size: 15px;
    }
    .username {
        display: flex;
    }
    .username img {
        height: 0.8rem;
        margin-top: 1.9rem;
        margin-left: 7px;
    }
    .usernumber p {
        color: rgb(218, 218, 218);
        font-size: 14px;
        margin-left: 1rem;
    }
    .sidebarlink {
        display: flex;
        width: 100%;
        padding: 0.7rem;
        border-bottom: 1px solid lightgray;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .sblinkicon img {
        height: 1.3rem;
    }
    .sblinknav img {
        height: 0.5rem;
    }
    .sblinkicon {
        width: 10%;
    }
    .sblinktxt {
        width: 80%;
        padding-left: 0.5rem;
    }
    .sblinktxt p {
        font-size: 15px;
        margin-top: 3px;
        margin-bottom: 0;
        color: black;
    }
    .sblinktxt p:hover {
        font-weight: 550;
        color: #f0233e;
    }
    .cutsidebar img {
        height: 1.2rem;
        float: right;
        margin: 20px;
    }
    /* Detect Location */
    .detect img {
        height: 1.5rem;
    }
    .loctxt p {
        font-size: 15px;
        margin-bottom: 5px;
    }
    #headloc {
        font-size: 17px;
        font-weight: 500;
    }
    .dtbtn {
        background-color: #209586;
        color: white;
        font-size: 15px;
        padding: 7px;
    }
}

/* Medium devices (Desktop, 850px and up) */

@media only screen and (min-width: 989px) {
    .navbar-brand {
        margin: 0px 0px 0px 50px;
    }
    .navbar-brand img {
        height: 3rem;
        width: auto;
    }
    .dropdown-menu {
        display: none;
        font-size: 15px;
    }
    .dropdown-menu a {
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .dropdown-menu a:hover {
        background-color: #e3324a;
        color: white;
    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    .navLinks {
        margin: 0px 120px 0px 0px;
    }
    .searchbar-cont {
        display: none;
    }
    .navbar {
        padding-top: 8px;
    }
    header {
        /* background:#e3324a linear-gradient(90deg,#fd3752,#fd3752); */
        /* background:#e3324a linear-gradient(90deg,#ee1f3a,#cc041f); */
        background: #209586;
    }
    .locationcard {
        display: none;
    }
    .nav-link {
        color: white;
        font-size: 15px;
    }
    .nav-link:hover {
        color: lightgrey;
    }
    /* services vego */
    .services {
        display: flex;
        flex-direction: column;
        background-color: white;
        margin-top: 15px;
        width: 100%;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, .105882);
    }
    .service {
        width: 50%;
        text-align: center;
        padding: 3.5rem;
        padding-bottom: 0;
    }
    .firstrow {
        display: flex;
    }
    .secondrow {
        display: flex;
    }
    .serviceicon {
        text-align: center;
    }
    .serviceicon img {
        height: 4rem;
        margin-bottom: 1.5rem;
    }
    .servicename p {
        margin-bottom: 5px;
        font-size: 15px;
    }
    #service1 {
        border-right: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }
    #service2 {
        border-bottom: 1px solid lightgray;
    }
    #service3 {
        border-right: 1px solid lightgray;
    }
    .service:hover .servicename p {
        font-weight: 550;
        color: #f0233e;
    }
    .desktopservices {
        display: flex;
        background: #e3324a linear-gradient(180deg, #f0233e, #f3324c);
    }
    .indexcarousel {
        width: 60%;
        margin-top: 0px;
    }
    .vegoservices4 {
        width: 40%;
    }
    .vegooffers {
        display: none;
    }
    .addlocationdesk input {
        font-size: 15px;
        border: none;
    }
    /* Location detect model */
    /* Detect Location */
    .detect img {
        height: 1.5rem;
    }
    .loctxt p {
        font-size: 15px;
        margin-bottom: 5px;
    }
    #headloc {
        font-size: 17px;
        font-weight: 500;
        padding-top: 1rem;
    }
    #loc2 {
        color: grey;
        margin-bottom: 15px;
    }
    .dtbtn {
        background-color: #209586;
        color: white;
        font-size: 15px;
        padding: 7px;
    }
    .detectlocationbox {
        padding: 0px 0px 0px 40px;
        height: 2.8rem;
        width: 96%;
        margin-left: 2%;
    }
    .searchicon {
        position: absolute;
        height: 1.4rem;
        margin: -33px 0px 0px 18px;
    }
}